@{
    ViewBag.Title = "Home Page";
}

<html>


<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Support, Telecommunication, Software, Graduate work">

    <!-- Internal Css-->
    <link rel="stylesheet" href="~/wwwroot/css/Index.css" media="screen">
</head>



<body data-home-page="Home.html" data-home-page-title="Home" class="u-body" style="color:azure; " >

    <div class="Main-Div">
        <div class="text-center">
            <h1 class="display-1">Welcome</h1>
            <h3 class="display-3">Application for reporting errors in the telecommunications system <br /></h3>

            <h1 class="display-1"> e-Support Application</h1>
            <h3 class="display-3">Student: Anita Brlobas</h3>


        </div>
     </div>
         <footer>
            </footer>




</body>

</html>
